body {
    font-family: Arial, sans-serif;
    background-color: #8ACCD5;
    padding: 40px;
    padding-top: 80px;
}

h2 {
    color: #0B1D51;
    margin-bottom: 30px;
    text-align: center;
}
.form-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}
/*back button*/
.btn-back {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    background-color: #B7B1F2;
    color: #0B1D51;
    border-block-color: #B7B1F2;
}
.btn-custom {
    background-color: #FF90BB;
    color: #0B1D51;
    border: none;
}
    .btn-custom:hover {
        background-color: #FFC1DA;
        color: #0B1D51;
    }

