body {
    font-family: Arial, sans-serif;
    background-color: #8ACCD5;
    text-align: center;
    padding-top: 50px;
}
.login-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type=text], input[type=password] {
    width: 250px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-login {
    padding: 10px 30px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #3367d6;
}

h2 {
    margin-bottom: 30px;
    color: #333;
}


h2 {
    color: #0B1D51;
    margin-bottom: 30px;
}
.name-card {
    background-color: #fff;
    color: #0B1D51;
    padding: 15px 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.card-button {
    border: none;
    color: #D50B8B;
    font-size: 20px;
    font-weight: bold;
    height: 120px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create {
    background-color: #FFC1DA;
}
/* Green */
.inventory {
    background-color: #FFC1DA;
}
/* Blue */
.production {
    background-color: #FFC1DA;
}
/* Orange */
.orders {
    background-color: #FFC1DA;
}
/* Purple */
.logout {
    background-color: #FFC1DA;
}
/* Red */

.card-button:hover {
    opacity: 1;
    background-color: #7F55B1;
    color: #fff;
}
/*view inventory*/
.table-container {
    max-width: 900px;
    margin: 0 auto;
}

.table th {
    background-color: #D50B8B;
    color: #0B1D51;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}
/*back button*/
.btn-back {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    background-color: #B7B1F2;
    color: #0B1D51;
    border-block-color: #B7B1F2;
}



